<div class="ui three column grid">
  <div class="six wide column">
    <img class="ui centered large rounded image" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xat1/t31.0-8/11145071_1000264566673724_8305235483922777903_o.jpg">
  </div>
  <div class="ui vertical divider"></div>
  <div class="ten wide column">
    <div class="title">About Alia</div>
  </div>
  <div class="ui vertical divider"></div>
</div>